h1{
    color: white;

}
body{
    text-align:center;
}
#navbar{ 
    vertical-align: center;
}

#navbar li{
    display:inline-block;
}

#navbar a{

}
   body{
       background-color:coral;
   }
h2{
    color: white;
}